<h1>Question information</h1>
<p>
<ul>
  <li>
    <strong>Question content:</strong>
    <%= @question.content %>
  </li>
  <li>
    <strong>Creation date:</strong>
    <%= @question.created_at %>
  </li>
  <li>
    This question belongs to '<%= @question.test.title %>' test
  </li>
</ul>
</p>

<h2>Answers</h2>

<%= link_to 'New answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<p>
<%= link_to 'Edit this question', edit_question_path(@question) %> | <%= link_to 'Go back', admin_test_path(@question.test) %>
</p>
