<tr>
  <td><%= image_tag badge.picture, height: 64, alt: badge.name, skip_pipeline: true %></td>
  <td><%= badge.description %></td>
  <td><%= badge.name %></td>
  <td><%= link_to I18n.t('.actions.show'), admin_badge_path(badge) %></td>
  <td><%= link_to I18n.t('.actions.edit'), edit_admin_badge_path(badge) %></td>
  <td><%= link_to I18n.t('.actions.remove'), admin_badge_path(badge), method: :delete,
    data: { confirm: I18n.t('.actions.r_u_sure') } %></td>
</tr>

