<h1><%# =  badges_header(@badge) %></h1>

<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/error', resource: @badge %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :badge_name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, id: :badge_description, rows: 5, cols: 20 %>
  </p>

  <p>
    <%= form.label :picture %><br>
    <!-- Call helper method here -->
    <%= form.collection_radio_buttons :picture, avaliable_pictures, :to_s, :to_s do |segment|%>
      <!-- Render radio button and picture -->
      <%= content_tag :div, class: 'form-check' do %>
        <%= segment.radio_button %>
        <%= image_tag segment.value, height: 64, skip_pipeline: true %>
      <% end %>
    <% end %>
  </p>

  <p>
    <%= form.label :rule %><br>
    <%= form.select :rule, options_for_select(avaliable_rules) %>
  </p>

  <p>
    <%= form.label :value, 'Rule value' %><br>
    <%= form.text_field :value, id: :badge_value %>
  </p>

  <p><%= form.submit %></p>
<% end %>
