<h1><%= I18n.t('.badges.content_headings.overview') %></h1>

<table class="table table-nostretch">
  <tr>
    <th><%= I18n.t('.badges.table_headers.badge_picture') %></th>
    <th><%= I18n.t('.badges.table_headers.badge_descr') %></th>
    <th><%= I18n.t('.badges.table_headers.badge_name') %></th>
  </tr>

  <%= render partial: 'shared/badge', collection: @badges %>
</table>

<%= link_to I18n.t('.badges.content_headings.personal_collection'), badges_user_badges_path %>
