<div class="topnav">
  <%= link_to 'TestGuru', tests_path %>
  <% if logged_in? %>
    <%= content_tag :span, "Welcome, #{current_user.name} Guru" %>
    <%= link_to 'Logout', nil %>
  <% else %>
    <%= link_to 'Register', signup_path %>
    <%= link_to 'Log in', login_path %>
  <% end %>
</div>
