<div class="topnav">
  <%= link_to 'TestGuru', tests_path %>
  <% if user_signed_in? %>
    <%= content_tag :span, "Welcome, #{current_user.email} Guru" %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Register', signup_path %>
    <%= link_to 'Log in', login_path %>
  <% end %>
</div>
