<h1>All questions of test '<%=@test.title %>'</h1>

<p><%= link_to 'Create new question for this test', new_test_question_path(@test) %></p>

<table>
  <tr>
    <th>Question content</th>
    <th colspan=3>Actions</th>
  </tr>
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.content %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Delete',
        question_path(question),
        method: :delete,
        data: {confirm: 'Are you sure?'} %>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Go to tests listing', tests_path %></p>
