<h1>Information about test '<%= @test.title %>'</h1>

<p>
  <ul>
    <li>
      <strong>Title:</strong>
      <%= @test.title %>
    </li>

    <li>
      <strong>Level:</strong>
      <%= @test.level %>
    </li>

    <li>
      <strong>Number of questions:</strong>
      <%= @test.questions.count %>
    </li>
  </ul>
</p>

<p>
<%= link_to 'Edit this test', edit_test_path(@test) %> | <%= link_to  'Go back', tests_path %>
</p>

<%= render 'shared/questions', test: @test %>
